# Copy this file as .env.local
NEXT_PUBLIC_CMS_URL=

# Optional
REVALIDATE_SECRET=
NEXT_PUBLIC_API_MOCKING=<enabled>

NEXT_PUBLIC_ORIGIN_URL=

# Datadog
DD_SERVICE=racoon-store
NEXT_PUBLIC_DATADOG_SERVICE_NAME=racoon-store
NEXT_PUBLIC_DATADOG_APPLICATION_ID=
NEXT_PUBLIC_DATADOG_CLIENT_TOKEN=
NEXT_PUBLIC_DATADOG_VERSION=
NEXT_PUBLIC_DATADOG_ENV=<local|dev|prod>

NEXT_PUBLIC_STORYBLOK_ACCESS_TOKEN=
NEXT_PUBLIC_STORYBLOK_PREVIEW_SECRET=

LOKALISE_TOKEN=

NEXT_PUBLIC_ADYEN_ENVIRONMENT=<test|live>
NEXT_PUBLIC_ADYEN_CLIENT_KEY=

NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=
NEXT_PUBLIC_GTM_ENV=<local|staging|prod>

# Apollo GraphQL VS Code extension
APOLLO_KEY=

# This can be unique for yourself, for example VERCEL_URL=localhost-my-computer
VERCEL_URL=localhost

# Vercel

# When this is true, don't prerender any static pages
SKIP_BUILD_STATIC_GENERATION=<true>

# Feature Flags
NEXT_PUBLIC_FEATURE_INSURELY=<true>
NEXT_PUBLIC_FEATURE_ENGLISH_LANGUAGE=<true>
NEXT_PUBLIC_FEATURE_COUNTRY_SELECTOR=<true>
NEXT_PUBLIC_FEATURE_INTERCOM=<true>
NEXT_PUBLIC_FEATURE_SUCCESS_ANIMATION=<true>
NEXT_PUBLIC_FEATURE_PET_INSURANCE=<true>

# Vercel Edge Config Connection String (https://github.com/vercel/edge-config)
EDGE_CONFIG=
# Settings for writing config values (see /api/revalidate)
EDGE_CONFIG_MANAGE_API_URL=https://api.vercel.com/v1/edge-config/:configId/items?teamId=:teamId
EDGE_CONFIG_MANAGE_API_TOKEN=:token