.DS_Store
build/*
dist/*
node_modules/*
.idea
.vscode
.env
/tsconfig-diff-master.json
*.iml
tsconfig.tsbuildinfo
src/types/generated/graphql.ts
src/types/generated/graphql-rsc.ts
src/types/generated/msw

graphql.schema.json
graphql.schema.graphql
schema.graphql

.yarn/*
.pnp.*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log

/.eslintcache
/.vercel

.next
next-env.d.ts
dist

# Tests
test-results
playwright/.auth
