name: CI

on:
  push:
    branches:
      - main
      # Renovate needs to see test status before PR is created
      - 'renovate/**'
  pull_request:
    types: [opened, synchronize]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    # Configure Turborepo Remote Caching
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    steps:
      # report general machine parameters
      - run: node -p 'os.cpus()'

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: yarn

      - name: Install
        run: |
          yarn --version
          corepack enable
          yarn --version
          yarn install --immutable

      - name: Codegen
        run: yarn codegen:ci

      - name: Typecheck
        run: yarn typecheck

      - name: Lint
        run: yarn lint

      - name: Unit Test
        run: yarn test
