name: Download translations from Lokalise

on:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  update_translations:
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Install
        run: yarn

      - name: Install Lokalise CLI
        run: |
          curl -sfL https://raw.githubusercontent.com/lokalise/lokalise-cli-2-go/master/install.sh | sh

      - run: echo "${GITHUB_WORKSPACE}/bin" >> $GITHUB_PATH

      - name: Download translations (store)
        run: yarn workspace store download-translations
        env:
          LOKALISE_TOKEN: ${{ secrets.LOKALISE_TOKEN }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: |
            ci: update translations from Lokalise
          title: |
            Update / New translations from Lokalise
          body: |
            This PR was created automatically by the "Download translations from Lokalise" action.
          branch: copy/update-translations/${{ github.run_id }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HUSKY: 0
